.flexbox-vertical
{
	display: flex;
	flex-direction: column;
}
.flexbox-vertical div:empty {
	background-image: linear-gradient(60deg, black, rgba(193, 193, 193, 0.498) 42.6%, rgb(121, 121, 121) 52.6%, black);
	background-size: 8px 8px;
	opacity: 0.2;
	border: 1px solid #101010;
}
.flexbox-vertical > div
{
	width: 200px;
	height: 200px;
}